<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" href="mainPage.scss">-->
<!--</head>-->
<!--<body>-->
    <div class="wrapper">
        <header class="header-container">
            <a href="/main" class="logo">RS Lang</a>
            <nav class="nav">
                <ul class="nav-items">
                    <li class="nav-item"><a href="/main">Главная</a></li>
                    <li class="nav-item"><a href="/textbook">Учебник</a></li>
                    <li class="nav-item"><a href="/audiocall">Аудиовызов</a></li>
                    <li class="nav-item"><a href="/sprint">Спринт</a></li>
                    <li class="nav-item"><a href="/statistic">Статистика</a></li>
                </ul>
            </nav>
            <button class="authorization-btn">Авторизация</button>
        </header>
        <main class="main-container">
            <div class="description">
                <p>Эффективное приложение для изучения английского языка!</p>
            </div>
            <div class="about-rslang">
                <div class="opportunities">
                    <h2>Возможности RS Lang</h2>
                    <ul>
                        <li>Учи слова</li>
                        <li>Играй</li>
                    </ul>
                </div>
                <div class="advantages">
                    <h2>Преимущества RS Lang</h2>
                    <ul>
                        <li>Учи играя</li>
                        <li>Отслеживай статистику</li>
                    </ul>
                </div>
            </div>
            <div class="about-developers">
                <h2>О команде</h2>
                <div class="developer">
                    <img class="developer-img" src="" alt="Igor">
                    <a class="developer-link" href="https://github.com/koviatsinets">GitHub</a>
                    <p class="developer-description">Вклад в разработку</p>
                </div>
                <div class="developer">
                    <img class="developer-img" src="" alt="Eugenia">
                    <a class="developer-link" href="https://github.com/EvgeniyaDanilovich">GitHub</a>
                    <p class="developer-description">Вклад в разработку</p>
                </div>
                <div class="developer">
                    <img class="developer-img" src="" alt="Darya">
                    <a class="developer-link" href="https://github.com/Darya-Kazharnovich">GitHub</a>
                    <p class="developer-description">Вклад в разработку</p>
                </div>
            </div>
        </main>
        <footer class="footer-container">
            <div class="githabs">
                <a class="developer-link" href="https://github.com/koviatsinets">Igor Koviatsinets</a>
                <a class="developer-link" href="https://github.com/EvgeniyaDanilovich">Evgeniya Danilovich</a>
                <a class="developer-link" href="https://github.com/Darya-Kazharnovich">Darya Kazharnovich</a>
            </div>
            <span>2022</span>
            <a href="https://rs.school/js/"><img src="" alt="RSSchool logo"></a>
        </footer>
    </div>
<!--</body>-->
<!--</html>-->