.welcome, .info, .about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.welcome-container, .info-container, .about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.welcome-header, .about-us-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.about-us-header {
  margin-bottom: 20px;
}

.welcome-title, .about-us-title {
  width: 50%;
  font-size: 36px;
  color: #5e2679;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 15px 0 15px 0;
  text-align: center;
}

.welcome-line-left, .about-us-line-left {
  width: 25%;
  border-bottom: solid 2px;
  border-image: linear-gradient(90deg, #67e5cd, #4477d4, #9950bb);
  border-image-slice: 1;
}

.welcome-line-right, .about-us-line-right {
  width: 25%;
  border-bottom: solid 2px;
  border-image: linear-gradient(90deg, #9950bb, #4477d4, #67e5cd,);
  border-image-slice: 1;
}

.welcome-subtitle, .info-subtitle {
  font-size: 20px;
  color: rgb(45, 45, 45);
  text-align: justify;
  width: 100%;
  margin: 15px 0 30px 0;
  letter-spacing: 1.2px;
}

.info-subtitle {
  margin: 30px 0 30px 0;
}

.advantages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-card {
  background-color: white;
  width: 300px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  border-radius: 10px;
}

.opportunities-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 80%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  border-radius: 10px;
  flex-direction: row;
  padding: 30px 0 30px 0;
  gap: 50px;
}

.advantages-header, .opportunities-header {
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 30px 0 30px 0;
  color: white;
}



.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #9950bb, #4477d4, #67e5cd,);
  width: 90%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  border-radius: 10px;
}

.advantages-block{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}

.opportunities-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.advantages-card-img {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 50px;
  }
}

.opportunities-img {
  width: 350px;
}

.advantages-card-text {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 40px 40px 40px;
  letter-spacing: 1.5px;
}

.opportunities-card-text {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  p {
    letter-spacing: 1.5px;
  }
}

.bold {
  font-weight: bold;
}

.opportunities {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opportunities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #5b4af0, #9029ac, #c75983);
  width: 90%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.about-rslang {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #eceae4;
}

.about-rslang-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #9950bb, #4477d4, #67e5cd,);
  width: 90%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
  border-radius: 10px;
}

.case {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 2vh;
  width: 100%;
  margin: 0;
  align-items: center;
}
.about-rslang-image {
  width: 40%;
}

.about-developers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  padding-top: 3%;
}
.developer {
  /*border: 2px solid #d7efe6;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 10px 0px;
  height: 100%;
  /*box-shadow: 12px 9px 17px 3px rgba(215, 239, 230, 1);*/
}
.developer-img {
  max-width: 15%;
}
.developer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
  padding: 0px 5px;
  gap: 10%;
}
.name {
  font-size: 20px;
  font-weight: bold;
}

.developer-link {
  color: #495F76;
}
.developer-contribution{
  font-weight: bold;
  color: #40959f;
}

.about-us-team {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.about-us-card {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.about-us-img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
margin: 0px 30px 0px 0px;
}

.about-us-card-text {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    letter-spacing: 1.5px;
    margin: 10px 0 10px 0;
    text-align: justify;
  }
li{
display: block;
position: relative;
padding: 0px 0px 0px 20px;
&::before{
  content: '';
        position: absolute;
        top: 5px;
        left: 0px;
        width: 10px;
        height: 10px;
background-color: #40959f;
border-radius: 50%;
}
margin: 0px 0px 10px 0px;
}
}

.about-us-name {
  font-weight: bold;
  font-size: 20px;
}