.pop-up-wrapper {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    top: calc(50% - 26px);
    left: calc(50% + 26px);
    transform: translate(-50%, -50%);
    background-color: white;
    width: 35vw;
    height: 35vh;
    padding: 20px;
    row-gap: 2vh;
}
.inputs-container {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}
.overlay {
    width: 100vw;
    height: 100vh;
    background: #292929;
    transition: 0.5s;
    opacity: 0.6;
    z-index: 1;
    position: fixed;
    cursor: pointer;
}
input:focus {
    border: 1px solid #40959f;
    box-shadow: 0 0 10px #40959f;
    outline: none;
}
input:active {
    border: 1px solid #40959f;
}
input:invalid {
    border: 1px solid darkred;
    color: darkred;
    box-shadow: 0 0 10px darkred;
}
.sign-in-btn, .register-btn {
    background-color: #d7efe6;
    border: 1px solid black;
    max-width: 10vw;
}
.log-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.warning {
    color: darkred;
}