<div class="sprint-wrapper">
    <div class="timer"></div>
</div>

<div class="sprint-card">
    <div class="score">0</div>
    <div class="add-score">+ <span>10</span> points</div>
    <div class="stage">
        <div class="stage__point"></div>
        <div class="stage__point"></div>
        <div class="stage__point"></div>
    </div>
    <div class="english-word"></div>
    <div class="russian-word"></div>
    <div class="answer">
        <div class="answer__right">Right</div>
        <div class="answer__wrong">Wrong</div>
    </div>
</div>