* {
    box-sizing: border-box;
}
.statistic-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    min-height: 40vh;
}
.statistics-title{
    text-align: center;
    padding-top: 3vh;
}
.game-title {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}
.statistic-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 30vh;
    gap: 2vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #d7efe6;
    color: #495F76;
}